<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rent Commit</title>
</head>
<style>
    #paying-h {
        position: relative;
        text-align: center;
    }
    #paid-button {
        position: absolute;
        width: 1520px;
        height: 600px;
    }
</style>
<body>
    <h2 id="paying-h">PAYING PROCESS =)</h2>
    <form method="get" th:action="@{/equipment/rent/profile}">
        <input  id="paid-button" type="submit" value="Paid">
    </form>

    <footer th:insert="fragments/footer :: foot"></footer>

</body>
</html>