<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipment</title>
</head>
<body th:object="${equipment}">

<form method="post" th:action="@{/equipment/save_lease}">
    <div id="equipment-name">
        <h1 th:text="${equipment?.name} ?: ''"></h1>
    </div>

    <div id="content">
        <table>
            <tr>
                <td>
                    <p>
                        Id
                    </p>
                </td>
                <td>
                    <p th:text="${equipment?.id} ?: ''" ></p>
                </td>
            </tr>

            <tr>
                <td>
                    <p>
                        Firm
                    </p>
                </td>
                <td th:if="${is_lease} == false">
                    <p th:text="${equipment?.firmName} ?: ''"></p>
                </td>
                <td th:if="${is_lease}">
                    <input type="text" placeholder="Submit firm name" th:field="*{firmName}">
                </td>
            </tr>

            <tr>
                <td>
                    <p>
                        Cost
                    </p>
                </td>
                <td th:if="${is_lease} == false">
                    <p th:text="${equipment?.cost} ?: ''"></p>
                </td>
                <td th:if="${is_lease}">
                    <input type="text" placeholder="Submit cost" th:field="*{cost}">
                </td>
            </tr>

            <tr>
                <td>
                    <p>
                        Owner
                    </p>
                </td>
                <td>
                    <p th:text="${equipment?.owner?.id} ?: 'Equipment is vacant'"></p>
                </td>
            </tr>

            <tr>
                <td>
                    <p>
                        Description
                    </p>
                </td>
                <td th:if="${is_lease}">
                    <input type="text" placeholder="Submit details" th:field="*{description}">
                </td>
                <td th:if="${is_lease} == false">
                    <p th:text="${equipment?.description} ?: '-'"></p>
                </td>

            </tr>

            <tr>
                <td>
                    <p>
                        Availability
                    </p>
                </td>
                <td>
                    <p th:if="${equipment}" th:text="${equipment.isAvailable()} ? 'Yes' : 'No'"></p>
                </td>
            </tr>

            <tr th:if="${equipment?.available}">
                <td>
                    <p>
                        Remaining
                    </p>
                </td>
                <td>
                    <p th:text="${equipment?.availableLeft}"></p>
                </td>
            </tr>

        </table>

        <a th:if="${is_lease} == false" href="rent_page.html" th:href="@{/equipment/rent/{name}(name=${equipment.name})}">
            <button>Rent</button>
        </a>
        <a th:if="${is_lease}">
            <input type="submit" value="Save">
        </a>
    </div>
</form>

</body>
</html>