<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leasing</title>
</head>
<body>

<header th:insert="fragments/header :: head (equipmentNameToFind)"></header>

    <div id="leasing-form">
        <p>
            Leasing form
        </p>

        <form method="post" th:action="@{/leasing_form}">
            <table>
                <tr>
                    <td>
                        <p>
                            Equipment
                        </p>
                    </td>
                    <td>
                        <input id="equipment-name" type="text" pattern="[^а-яА-Я]" required placeholder="Ski" th:field="*{equipment.name}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Firm
                        </p>
                    </td>
                    <td>
                        <input id="equipment-firm" pattern="[^а-яА-Я]" type="text" required placeholder="Atom" th:field="*{equipment.firmName}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Cost
                        </p>
                    </td>
                    <td>
                        <input id="equipment-cost" maxlength="10" type="number" required placeholder="350" th:field="*{equipment.cost}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Comments
                        </p>
                    </td>
                    <td>
                        <input id="equipment-description" maxlength="20" type="text" placeholder="Details if necessary" th:field="*{equipment.description}">
                    </td>
                </tr>
            </table>
            <input id="leasing-submit-button" type="submit" value="Submit leasing">
        </form>

    </div>

</body>
</html>