<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leasing</title>
</head>
<body>

    <div id="leasing-form">
        <p>
            Leasing form
        </p>

        <input id="equipment-name" type="text">
        <input id="equipment-firm" type="text">
        <input id="equipment-cost" type="text">

        <input id="owner-name" type="text">
        <input id="owner-last-name" type="text">
        <input id="owner-email" type="text">
        <input id="owner-phone" type="text">

        <form method="post">
            <input id="leasing-submit-button" type="submit" value="Submit leasing">
        </form>
    </div>

</body>
</html>