<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rent</title>
</head>
<style>
    #left {
        position: absolute;
        left: 30px;
        top: 50px;
        width: 50%;
    }

    #right {
        position: absolute;
        right: 30px;
        top: 50px;
        width: 50%;
    }
</style>

<!--<script>-->
<!--        $( document ).ready(function() {-->
<!--        $(".hour_button").on('change', function() {-->
<!--            let hours = $(this).val();-->
<!--            let hourArray = hours.split(' ');-->
<!--            let hour= hourArray[0];-->
<!--            let currentVal = $("#cost_multiply_hours").html();-->
<!--            $("#cost_multiply_hours").html(currentVal*hour);-->
<!--        });-->
<!--    });-->
<!--</script>-->

<script>
    let regexp = "/[-/|{}*\\()\\v\\s\\t\\n\\r\\f\\<\\>\\[\\]!&?#№%@$^_\\=+.;\":'а-яА-Яa-zA-Z]/";
    function onKeyUp(input) {
        let val = input.value;
        if (regexp.test(val)) {
            val = val.replace(regexp, '');
            input.value = val;
        }
    }
</script>

<body>

<header th:insert="fragments/header :: head (equipmentNameToFind)"></header>

    <div id="message">
        <h2 th:text="'Rent card of ' + ${equipment.name} + ' (ID: ' + ${equipment.id} + ')'">
            Check your rent information
        </h2>
    </div>

    <form id="personal-data" method="post" th:action="@{/equipment/rent/commit}">
        <div id="left">
        <table>
            <tr>
                <td>
                    <p>
                        Name
                    </p>
                </td>
                <td>
                    <input id="user-name" pattern="[^а-яА-Я]" th:value="${person?.name} ?: ''" type="text" required th:field="*{person.name}">
                </td>
            </tr>

            <tr>
                <td>
                    <p>
                        Last Name
                    </p>
                </td>
                <td>
                    <input id="user-last-name" pattern="[^а-яА-Я]" th:if="${person}" th:value="${person.lastName} ?: ''" type="text" required th:field="*{person.lastName}">
                </td>
            </tr>

            <tr>
                <td>
                    <p>
                        Phone
                    </p>
                </td>
                <td>
                    <input id="user-phone" th:if="${person}" th:value="${person?.phone} ?: ''" type="tel" required th:field="*{person.phone}">
                </td>
            </tr>

            <tr>
                <td>
                    <p>
                        E-mail
                    </p>
                </td>
                <td>
                    <input id="user-email" th:if="${user}" th:value="${user.email} ?: ''" type="email" required>
                </td>
            </tr>

            <tr>
                <td>
                    <p>
                        Card
                    </p>
                </td>
                <td>
                    <input id="user-card" placeholder="0000 0000 0000 0000" pattern="\d{12}" onkeyup="return onKeyUp(this)" maxlength="12" type="text" required>
                </td>
            </tr>

        </table>
        </div>

        <div id="right">
            <p th:text="${equipment.name}"></p>
            <br>
            <img class="equipment-img" th:src="@{/images/empty_img.png}" width="150px" height="150px" alt="No image">
            <br>
            <input class="btn btn-default hour_button" id="hours-input" pattern="[^0]" type="number" required value="1" placeholder="hours rent" th:field="${equipment.hoursRent}">
            <br>
            <p id="cost_multiply_hours" th:text="${equipment.cost} + ' RUB / hour'"></p>
            <br>
            <input id="submit-changes-button" type="submit" value="Pay">
        </div>
    </form>

</body>
</html>