<div class="footer" th:fragment="foot">
    <div class="main-footer">
        <div class="image-block"><img th:src="@{/images/logo.jpg}"></div>
        <div class="text-block">
            <div><span><h3>К КАТАЛОГУ</h3><br>
            <span><a href="#">КАК арендовать?
</a></span><br>
                <span><a href="#">Вопросы и ответы</a></span><br></span></div>

            <div><h3>ВЛАДЕЛЬЦУ</h3><br>
                <span><a href="#">Аренда
</a></span><br>
                <span><a href="#">Правила публикации</a></span><br>

                </a></span>
                <span><a href="#">Соглашение</a></span><br></div>

            <div><h3>О нас</h3><br>
                <span><a href="#">Документы
                </a></span><br>
                <span><a href="#">Правила</a></span><br>
                <span><a href="#">Офферы аренды</a></span><br>
                <span><a href="#">Система менеджмента</a></span><br>
                <span><a href="#">Вопросы и ответы
</a></span><br>
                <span><a href="#">Соглашение</a></span><br></div>
        </div>
    </div>
    <div class="line"></div>
    <div class="copy">
        <div class="c">&#169; 2022 All rights reserved</div>
        <div class="social"><img th:src="@{/images/twitter_logo.png}">
<!--            <img th:src="@{/images/inst_logo.png}">-->
            <img th:src="@{/images/youtube_logo.png}"></div>
    </div>
</div>