<div class="footer" th:fragment="foot">
    <div class="main-footer">
        <div class="image-block"><img th:src="@{/images/logo.jpg}"></div>
        <div class="text-block">
            <div><span><h3>TO THE RENT</h3><br>
            <span><a href="#">How to rent
</a></span><br>
                <span><a href="#">Questions and answers</a></span><br></span></div>

            <div><h3>TO THE LANDLORD</h3><br>
                <span><a href="#">How to rent
</a></span><br>
                <span><a href="#">QPublication rules</a></span><br>

                </a></span>
                <span><a href="#">Collateral insurance</a></span><br></div>

            <div><h3>ABOUT COMPANY</h3><br>
                <span><a href="#">Documents
                </a></span><br>
                <span><a href="#">Publication rules</a></span><br>
                <span><a href="#">Rental offer</a></span><br>
                <span><a href="#">Rental management system</a></span><br>
                <span><a href="#">Questions and answers
</a></span><br>
                <span><a href="#">Collateral insurance</a></span><br></div>
        </div>
    </div>
    <div class="line"></div>
    <div class="copy">
        <div class="c">&#169; 2021 All rights reserved</div>
        <div class="social"><img th:src="@{/images/twitter_logo.png}">
            <img th:src="@{/images/inst_logo.png}">
            <img th:src="@{/images/youtube_logo.png}"></div>
    </div>
</div>