<meta charset="UTF-8">

<div th:fragment="head (equipmentName)" class="div_header">

    <form method="post" th:action="@{/equipment/results}">
        <table>
            <tr class="table_search">
                <td>
                    <a href="http://localhost:8089/mvc_ski_equipment_rental_war_exploded/equipment/rent">
                        <img  class="logo" th:src="@{/images/logo.jpg}">
                    </a>
                </td>
                <td class="search">
                    <input id="search-bar" th:name="${equipmentName}" type="text" required placeholder="&nbsp&nbsp;Search">
                </td>
                <td class="button_go">
                    <input type="submit" value="Go">
                </td>
<!--                <td class="button_nav">-->
<!--                    <input type="submit" value="Address">-->
<!--                </td>-->
                <td class="button_signin" th:insert="fragments/lease_button :: lease_button"></td>
                <td class="button_signin">
                    <a th:if="${session.login_user} == null" href="login_page.html" th:href="@{/login}">
                        <input type="button" value="Sign In">
                    </a>
                    <a th:if="${session.login_user}" href="profile.html" th:href="@{/profile}">
                        <input th:if="${session.login_user.getPerson().getName()} == null" type="button" value="Profile">
                        <input th:if="${session.login_user.getPerson().getName()}" type="button" th:value="${session.login_user.getPerson().getName()}">
                    </a>
                </td>
            </tr>
        </table>
    </form>
</div>
